<template name='welcomePage'>

  <div class="registerLoginHouse row">
    <div class="welcome_heading small-12">
      <h1>Welcome! Please register or Login below</h1>
    </div>

    <div class="row entry_portal_house">
      <div class="register_house small-12 medium-6 columns">
        {{> register}}

      </div>
      <div class="login_house small-12 medium-6 columns">
        {{> login}}

      </div>
    </div>



  </div>
</template>


<template name="register">
    <h2>Register</h2>
    <form class='register'>
        <input class='entry_input' type="email" name="registerEmail" placeholder="Email" required>
        <input class='entry_input' type="text" name="username" placeholder="Username" required>
        <input class='entry_input' type="password" name="registerPassword" placeholder="Password" required>
        <input class='entry_input' type="hidden" name="firstName" placeholder="First Name" required>
        <input class='entry_input' type="hidden" name="lastName" placeholder="Last Name" required>
        <input class='entry_submit' type="submit" value="Register">
    </form>
</template>


<template name="login">
    <h2>Login</h2>
    <form class="login">
        <input class='entry_input' type="text" id="loginUsername" name="username" placeholder="Username" required>
        <input class='entry_input' type="password" id="loginPassword" name="loginPassword" placeholder="Password" required>
        <input class='entry_submit' type="submit" value="Login">
    </form>
</template>