<template name='views'>

<div>
   {{#if currentUser}}
        <p>You're logged in.</p>
        {{> dashboard}}
    {{else}}
        {{> register}}
        {{> login}}
    {{/if}}
</div>
</template>


<template name="register">
    <form>
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="registerEmail" placeholder="Email">
        <input type="password" name="registerPassword" placeholder="Password">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <form>
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>