<template name="navbarLoggedIn">


  <div id="navButtonContainer" class="small-8 medium-8 hide-for-large columns">
    {{#if notOnDashboard}}
      <a id="navDashboardLink" href="/dashboard">Dashboard</a>
    {{/if}}
    {{#if notOnGlobalDashboard}}
      <a id="navGlobalDashboardLink" href="/globaldashboard">Global</a>
    {{/if}}


    {{#if notOnProfile}}
       <a id="navProfileLink" href="{{pathFor 'profile'}}">Profile</a>
    {{/if}}
      <a id="navLogOutLink" href="/" class="logout">
        Logout
      </a>
  </div>




    <div id="navUserNameBox" class="small-12 medium-12 large-4 columns">
    {{#if notOnGlobalDashboard}}
      <a href="{{pathFor route='profile'}}">
        <h1 id='navUserName'>{{username}}'s Kan Board</h1>
      </a>
    {{else}}
      <a href="{{pathFor route='profile'}}">
        <h1 id='navUserName'>Community Kan Board</h1>
      </a>
    {{/if}}
    </div>

    <div id="navButtonContainer" class="hide-for-small-only hide-for-medium-only large-4 columns">
    {{#if notOnDashboard}}
      <a id="navDashboardLink" href="/dashboard">Dashboard</a>
    {{/if}}
    {{#if notOnGlobalDashboard}}
      <a id="navGlobalDashboardLink" href="/globaldashboard">Global</a>
    {{/if}}


    {{#if notOnProfile}}
       <a id="navProfileLink" href="{{pathFor 'profile'}}">Profile</a>
    {{/if}}
      <a id="navLogOutLink" href="/" class="logout">
        Logout
      </a>
  </div>

</template>

<template name="navbarLoggedOut">
  <div class="small-7 medium-8 columns">
    <h1 id="navRightText">Get ready to organize</h1>
  </div>
</template>
