<template name="navbarLoggedIn">

    <div id="navUserNameBox" class="small-12 medium-5 columns">
    {{#if notOnGlobalDashboard}}
      <a href="{{pathFor route='profile'}}">
        <h1 id='navUserName'>{{username}}'s Kan Board</h1>
      </a>
    {{else}}
      <h1 id='navUserName'>Community Kan Board</h1>
    {{/if}}
    </div>
    <div id="navButtonContainer" class="small-12 medium-4 columns">
    {{#if notOnDashboard}}
      <a id="navDashboardLink" href="/dashboard">Dashboard</a>
    {{/if}}
    {{#if notOnGlobalDashboard}}
      <a id="navGlobalDashboardLink" href="/globaldashboard">Global</a>
    {{/if}}
      <!-- <a href="/profile">Profile</a> -->
    {{#if notOnProfile}}
       <a id="navProfileLink" href="{{pathFor 'profile'}}">Profile</a>
    {{/if}}
      <a id="navLogOutLink" href="/" class="logout">
        Logout
      </a>


  </div>
</template>

<template name="navbarLoggedOut">

  <div id="navText" class="hide-for-small-only medium-8 columns">
    <h1>Get ready to organize</h1>
  </div>
</template>
