body{
  background-image: url('../images/roughwood.jpeg');
  background-size: cover;
}

.navbar{
  width: 100%;
  /*padding: 0 10%;*/
  /*padding-top: 25px;*/
  background-color: #FFFFFF;
  height: 70px;
}

#navLogo{
margin-top: 8px
}

#navLogo > h1{
  display: none;
}

#navText > h1{
  line-height: 70px;
  font-size: 2em;
  text-align: right;
  margin-right: 10%;
}

#navUserName{

}

#logoutButton{
  text-align: right;
  line-height: 70px;
}

.mainBodyContent{
  width: 100%;
  border: 1px solid blue;
  text-align: center;

}

/*#newTaskButton{
  position: absolute;
  top: 70;
}*/

.dashboardOfTasks{
  width: 100%;
}

.taskColHeader > h1 {
  font-size: 2em;
  color: #FFFFFF;
}

.taskRow{
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 2% 2%;
}

.taskHouse{
  width: 300px;
  height: 300px;
  margin-bottom: 5%;
  margin: auto;
  border: 1px solid black;
  padding: 5% 8%;
  background-image: url('../images/sticky_note.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.taskTitle{
  padding: 0 2%;
}

.taskTitle > h2{
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskBody{
  border: 1px solid black;
  height: 150px;


}

.taskButtonRow{
  padding-top: 2%
}

.taskEditButton{
  display: inline-block;
  width: 45%;
}

.taskArrow{
  display: inline-block;
  width: 45%;
}

#statusImage{
  width: 40%;
}

/*Profile Section*/

.profile_top_row{
  border: 1px solid red;
}

.profile_main{
  text-align: left;
}

.profile_label > h2{
  font-size: 1em;
  text-align: right;
}

.tasknumber{
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 1.5em;
  margin: auto;
  background-image: url('../images/sticky_note.png');
  background-size: cover;
  background-repeat: no-repeat;
}