.navbar{
  width: 100%;
  border: 1px solid black;
  padding: 0 10%;
}

#navLogo{
  display: inline-block;
  margin-right: 25%;
}

#loginButton{
  display: inline-block;
  margin-left: 25%;
}

#navUserName{
  display: inline-block;
  margin-right: 20%;
}

#logoutButton{
  display: inline-block;
  margin-left: 20%;
}

.mainBodyContent{
  width: 100%;
  border: 1px solid blue;
  text-align: center;
}

#newTaskButton{
  position: absolute;
  top: 0;
}

.dashboardOfTasks{

}

.taskRow{
  width: 33%;
  border: 1px solid red;
  display: inline-flex;
}

.taskHouse{
  width: 100%;
  margin: auto;
}