body{

}

.navbar{
  width: 100%;
  border: 1px solid black;
  padding: 0 10%;
}

#navLogo{
  display: inline-block;
  margin-right: 25%;
}

#loginButton{
  display: inline-block;
  margin-left: 25%;
}

#navUserName{
  display: inline-block;
  margin-right: 20%;
}

#logoutButton{
  display: inline-block;
  margin-left: 20%;
}

.mainBodyContent{
  width: 100%;
  border: 1px solid blue;
  text-align: center;
  background-image: url('../images/retina_wood.png');
  background-size: cover;
}

#newTaskButton{
  position: absolute;
  top: 0;
}

.dashboardOfTasks{
  width: 100%;
}

.taskColHeader > h1 {
  font-size: 2em;
}

.taskRow{
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 2% 2%;
}

.taskHouse{
  width: 100%;
  height: 300px;
  margin-bottom: 5%;
  border: 1px solid black;
  padding: 5% 8%;
  background-image: url('../images/sticky_note.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.taskTitle{
  border: 1px solid black;
  padding: 0 2%;
}

.taskTitle > h2{
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskBody{
  border: 1px solid black;
  height: 150px;


}


.taskButtonRow{
  padding-top: 2%
}

.taskEditButton{
  display: inline-block;
  width: 45%;
}

.taskArrow{
  display: inline-block;
  width: 45%;
}

#nextArrowImage{
  width: 40%;
}
