<!-- <body>






  <div class="dashContainer">
    {{> dashboard}}
  </div>
</body>
 -->


<template name="dashboard">
  <a href="#" data-reveal-id="newTaskModal">
    <button id="newTaskButton">new Task</button>
  </a>
  <div id="newTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add a task!</h2>
      {{> newTaskTemplate}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <div class="row" id="toDoCol">
    <div class="small-12 medium-6 columns taskHouse">
      {{#each toDoTasks}}
        {{> task}}
      {{/each}}
    </div>
    <div id="inProgressCol">
      {{#each inProgressTasks}}
        {{> task}}
      {{/each}}
    </div>
    <div id="doneCol">
      {{#each doneTasks}}
        {{> task}}
      {{/each}}
    </div>
  </div>
 </template>

 <template name='task'>
  <div class="taskTitle">{{title}}</div>
  <div class="taskBody">{{body}}</div>

    {{> editTaskTemplate}}
  <div class="taskArrow"><img src="./images/rightarrow.svg"></div>




 </template>


 <template name="newTaskTemplate">
    <input type="text" placeholder='task title' name='title' id="newTaskTitle">
    <input  required='true' type="text" placeholder='task description' name='body' id="newTaskBody">
    <input type="submit" value='add' class="button" id='addTaskSubmit'>
 </template>

  <template name="editTaskTemplate">
    <a href='#' data-reveal-id="editTaskModal" class='editLink'>
      <div class="taskEdit">edit</div>
    </a>
    <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Edit your task!</h2>
      <input type="text"  name='title' class="editTaskTitle">
      <input  type="text"  name='body' class="editTaskBody" >
      <select class="editStatus">
        <option value="todo">to do</option>
        <option value="inProgress">in progress</option>
        <option value="done">done</option>
      </select>
      <input type="submit" value='edit' class="button editTaskSubmit">
      <button class='deleteTask'>delete</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
 </template>
