<body>
  <div id="newTaskButton">new Task</div>
  <div class="dashContainer">

    {{> dashboard}}
  </div>
</body>



<template name="dashboard">
  <div id="toDoCol">
    <div class="taskHouse">
      {{#each toDoTasks}}
        {{> task}}
      {{/each}}
    </div>
    <div id="inProgressCol">
      {{#each inProgTasks}}
        {{> task}}
      {{/each}}
    </div>
    <div id="doneCol">
      {{#each doneTasks}}
        {{> task}}
      {{/each}}
    </div>
  </div>
 </template>

 <template name='task'>
  <div class="taskTitle">{{title}}</div>
  <div class="taskBody">{{body}}</div>
  <div class="taskEdit">edit</div>
  <div class="taskArrow"><img src="./public/images/rightarrow.svg"></div>

 </template>
