<!-- <body>






  <div class="dashContainer">
    {{> dashboard}}
  </div>
</body>
 -->


<template name="dashboard">
  <a href="#" data-reveal-id="newTaskModal">
    <button id="newTaskButton">new Task</button>
  </a>
  <div id="newTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add a task!</h2>
      {{> newTaskTemplate}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <div class="dashboardOfTasks">

    <div class="taskRow" >
      <div class="taskColHeader">
        <h1>To Do</h1>
      </div>
      {{#each toDoTasks}}
        {{> task}}
      {{/each}}
    </div>

    <div class="taskRow" id="inProgressCol">
      <div class="taskColHeader">
        <h1>In Progress</h1>
      </div>
      {{#each inProgressTasks}}
        {{> task}}
      {{/each}}
    </div>

    <div class="taskRow" id="doneCol">
      <div class="taskColHeader">
        <h1>Done</h1>
      </div>
      {{#each doneTasks}}
        {{> task}}
      {{/each}}
    </div>

  </div>
 </template>

 <template name='task'>
  <div class=" taskHouse">
    <div class="taskTitle">
      <h2>{{title}}</h2>
    </div>

    <div class="taskBody">
      <p>{{body}}</p>
    </div>
    <div class='taskButtonRow'>
      <div class='taskEditButton'>
        {{> editTaskTemplate}}
      </div>
      <div class="taskArrow">
        <a href="" class="moveTaskAlong">
          <img id="nextArrowImage" src="./images/rightarrow.svg">
        </a>
      </div>
    </div>
  </div>




 </template>


 <template name="newTaskTemplate">
    <input type="text" placeholder='task title' name='title' id="newTaskTitle">
    <input  required='true' type="text" placeholder='task description' name='body' id="newTaskBody">
    <input type="submit" value='add' class="button" id='addTaskSubmit'>
 </template>

  <template name="editTaskTemplate">
    <a href='#' data-reveal-id="editTaskModal" class='editLink'>
      <div class="taskEdit button">Edit</div>
    </a>
    <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Edit your task!</h2>
      <input type="text"  name='title' class="editTaskTitle">
      <input  type="text"  name='body' class="editTaskBody" >
      <select class="editStatus">
        <option value="todo">to do</option>
        <option value="inProgress">in progress</option>
        <option value="done">done</option>
      </select>
      <input type="submit" value='edit' class="button editTaskSubmit">
      <button class='deleteTask'>delete</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
 </template>
