<template name="dashboard">
  <a href="#" data-reveal-id="newTaskModal">
    <div id="newTaskButton">+</div>
  </a>
  <div id="newTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add a task!</h2>
      {{> newTaskTemplate}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  {{#if localDashboard}}
    <div id="archiveTaskButton"></div>
  {{/if}}

  <div class="dashboardOfTasks row">

    <div class="taskRow small-12 large-4 columns" >
      <div class="taskColHeader">
        <h1>To Do</h1>
        </div>
          {{#each toDoTasks}}
            {{> task}}
          {{/each}}
      </div>

    <div class="taskRow small-12 large-4 columns" id="inProgressCol">
      <div class="taskColHeader">
        <h1>In Progress</h1>
      </div>

      {{#each inProgressTasks}}
        {{> task}}
      {{/each}}

    </div>

    <div class="taskRow small-12 large-4 columns" id="doneCol">
      <div id="doneButton" class="taskColHeader">
        <h1 >Done</h1>
      </div>

      {{#each doneTasks}}
        {{> task}}
      {{/each}}
    </div>
  </div>
 </template>

 <template name='comment'>

    <div class="row commentsRow">
      <div class="small-6 columns commentAuthor">
        {{commentAuthor}} says:
      </div>
      <div class="small-6 columns commentsDate">
        January, 24th 1989
      </div>
      <div class="small-12 columns">
        <p class="commentBody">{{commentBody}}</p>
      </div>
    </div>
 </template>


 <template name='task'>
  <div class={{currentColor}} id={{_id}}>
    <div class="taskTitleContainer">
    {{#if myTask}}
      <input class="taskTitle" type='text' value={{title}}>
    {{else}}
    <input class="taskTitle" readonly="readonly" value={{title}} >
    {{/if}}
    </div>

    <div class="taskBodyContainer">
    {{#if myTask}}
      <!-- <p class='taskBody' contenteditable='true'>{{body}}</p> -->
      <textarea class='taskBody'>{{body}}</textarea>
    {{else}}
      <!-- <p class='taskBody'>{{body}}</p> -->
      <textarea class='taskBody' readonly="readonly">{{body}}</textarea>

    {{/if}}
    </div>

    <div class='taskButtonRow row'>

      {{#if myTask}}
        <div class='taskEditButton small-4 columns'>
          {{> editTaskTemplate}}
        </div>
      {{else}}
        <div class='taskStarButton small-4 columns'>
          <div id="taskStar"></div>
        </div>
      {{/if}}

        <div class="commentsIconHouse small-4 columns">
          <div id='commentButton{{_id}}' class="commentsIcon">{{commentTotal}}</div>
        </div>

      {{#if myTask}}
        <div class="small-4 columns">
          <a href="" class="moveTaskAlong">
          {{#if complete}}
            <div id="taskCheck"></div>
          {{else}}
            <div id="taskArrow"></div>
          {{/if}}
          </a>
        </div>
      {{/if}}

      {{#if myTask}}
      {{else}}
      <div class="taskOwnerBox small-4 columns">
        <div class="taskOwnerName">
          {{taskOwner}}
        </div>
      </div>
      {{/if}}


    </div>

    <div class="commentContainer row hidden" id="commentContainer{{_id}}">
      <h3 id="commentsHeading">Comments</h3>
        {{#each commentArray}}
          {{> comment}}
         {{/each}}
         <div class="row">
           <div class="small-12 columns">
             <input type="text" class="addCommentInput">
           </div>
         </div>
    </div>
  </div>


 </template>


 <template name="newTaskTemplate">
  <form>
    <input type="text" placeholder='task title (up to 22 characters)' name='title' maxlength="22" id="newTaskTitle">
    <textarea rows="5" type="text" placeholder='task description' maxlength="200" name='body' id="newTaskBody"></textarea>
    <div class="row">
      <div class="small-6 columns">
        <select name='color' class="colorSelect">
          <option value="yellow">Yellow</option>
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="orange">Orange</option>
          <option value="blue">Blue</option>
        </select>

      </div>
      <div class="small-6 columns">
        <select name='privacy' class="privacySelect">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
    </div>

    <input type="submit" value='Add Task' class="button taskSubmitButton" id='addTaskSubmit'>
  </form>
 </template>

  <template name="editTaskTemplate">
      <a href='#' data-reveal-id="editTaskModal" class='editLink'>
        <div class="taskEdit"></div>
      </a>
      <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Edit your task!</h2>
        <form>
            <input type="text"  name='title' class="editTaskTitle">
            <textarea rows="5" type="text"  name='body' maxlength="200" class="editTaskBody" ></textarea>
            <div class="row">
              <div class="small-8 small-centered medium-uncentered medium-4 columns">
                <select class="editStatus">
                  <option value="todo">To do</option>
                  <option value="inProgress">In progress</option>
                  <option value="done">Done</option>
                </select>
              </div>
              <div class="small-8 small-centered medium-uncentered medium-4 columns">
                <select class="colorSelect">
                  <option value="yellow">Yellow</option>
                  <option value="pink">Pink</option>
                  <option value="green">Green</option>
                  <option value="orange">Orange</option>
                  <option value="blue">Blue</option>
                </select>
              </div>
              <div class="small-8 small-centered medium-uncentered medium-4 columns">
                <select name='privacy' class="privacySelect">
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>
              </div>
            </div>

            <input type="submit" value='Save Changes' class="button taskSubmitButton editTaskSubmit">
            <button class='archiveTask'>Archive</button>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
 </template>
