<template name="dashboard">
  <a href="#" data-reveal-id="newTaskModal">
    <div id="newTaskButton">+</div>
  </a>
  <div id="newTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Add a task!</h2>
      {{> newTaskTemplate}}
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
{{#if localDashboard}}
  <div id="archiveTaskButton"></div>
{{/if}}
  <div class="dashboardOfTasks row">
    <div class="taskRow small-12 medium-4 columns" >
      <div class="taskColHeader">
        <h1>To Do</h1>
      </div>
      {{#each toDoTasks}}
        {{> task}}
      {{/each}}
    </div>

    <div class="taskRow small-12 medium-4 columns" id="inProgressCol">
      <div class="taskColHeader">
        <h1>In Progress</h1>
      </div>
      {{#each inProgressTasks}}
        {{> task}}
      {{/each}}
    </div>

    <div class="taskRow small-12 medium-4 columns" id="doneCol">
      <div id="doneButton" class="taskColHeader">
        <h1 >Done</h1>
      </div>
      {{#each doneTasks}}
        {{> task}}
      {{/each}}
    </div>

  </div>
 </template>


 <template name='task'>
  <div class={{currentColor}}>
    <div class="taskTitleContainer">
    {{#if myTask}}
      <h2 class="taskTitle" contenteditable='true'>{{title}}</h2>
    {{else}}
    <h2 class="taskTitle" >{{title}}</h2>
    {{/if}}
    </div>

    <div class="taskBodyContainer">
    {{#if myTask}}
      <p class='taskBody' contenteditable='true'>{{body}}</p>
    {{else}}
      <p class='taskBody'>{{body}}</p>
    {{/if}}
    </div>
    <div class='taskButtonRow row'>
      {{#if myTask}}
        <div class='taskEditButton small-4 small-offset-2 columns'>
          {{> editTaskTemplate}}
        </div>
        <div class="taskArrow small-6 columns">
          <a href="" class="moveTaskAlong">
          {{#if complete}}
            <img id="statusImage" src="./images/tick.svg">
          {{else}}
            <img id="statusImage" src="./images/rightarrow.svg">
          {{/if}}
          </a>
        </div>
      {{else}}
        <div class="taskOwnerBox small-12 columns">
          <p class="taskOwnerName">
            {{taskOwner}}
          </p>
      </div>
    {{/if}}
    </div>



    <div class="row comments_section">
      <div class="small-12">
        <ul class="accordion" data-accordion role="tablist">
          <li class="accordion-navigation">
            <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">Accordion 1</a>
            <div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
              Panel 1. Lorem ipsum dolor
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>




 </template>


 <template name="newTaskTemplate">
  <form>
    <input type="text" placeholder='task title (up to 22 characters)' name='title' maxlength="22" id="newTaskTitle">
    <textarea rows="5" type="text" placeholder='task description' maxlength="200" name='body' id="newTaskBody"></textarea>
    <div class="row">
      <div class="small-6 columns">
        <select name='color' class="colorSelect">
          <option value="yellow">yellow</option>
          <option value="pink">pink</option>
          <option value="green">green</option>
          <option value="orange">orange</option>
          <option value="blue">blue</option>
        </select>

      </div>
      <div class="small-6 columns">
        <select name='privacy' class="privacySelect">
          <option value="public">public</option>
          <option value="private">private</option>
        </select>
      </div>
    </div>

    <input type="submit" value='add' class="button" id='addTaskSubmit'>
  </form>
 </template>

  <template name="editTaskTemplate">
      <a href='#' data-reveal-id="editTaskModal" class='editLink'>
        <div class="taskEdit"></div>
      </a>
      <div id="editTaskModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Edit your task!</h2>
        <form>
            <input type="text"  name='title' class="editTaskTitle">
            <textarea rows="5" type="text"  name='body' maxlength="200" class="editTaskBody" ></textarea>
            <div class="row">
              <div class="small-4 columns">
                <select class="editStatus">
                  <option value="todo">to do</option>
                  <option value="inProgress">in progress</option>
                  <option value="done">done</option>
                </select>
              </div>
              <div class="small-4 columns">
                <select class="colorSelect">
                  <option value="yellow">yellow</option>
                  <option value="pink">pink</option>
                  <option value="green">green</option>
                  <option value="orange">orange</option>
                  <option value="blue">blue</option>
                </select>
              </div>
              <div class="small-4 columns">
                <select name='privacy' class="privacySelect">
                  <option value="public">public</option>
                  <option value="private">private</option>
                </select>
              </div>
            </div>

            <input type="submit" value='Save Changes' class="button editTaskSubmit">
            <button class='archiveTask'>Archive</button>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
 </template>
