<template name='profile'>


    <div class="profile_top_row row">
      <div id="profile_image" class="small-3 columns">
        <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F_yn2EXgEvGbw%2FS4SztlovbqI%2FAAAAAAAAAt8%2F9W5yAf6NdEw%2Fs400%2Fcurly-mustache.jpg&f=1" alt="">
      </div>

      <div id="user_task_count" class="small-9 columns">
        <div class="row">
          <div class="task_count_box small-4 columns">
            <h3>To Do</h3>
            <p class="tasknumber">{{todoCount}}</p>
          </div>
          <div class="task_count_box small-4 columns">
            <h3>In Progress</h3>
            <p class="tasknumber">{{inProgressCount}}</p>
          </div>
          <div class="task_count_box small-4 columns">
            <h3>Done</h3>
            <p class="tasknumber">{{doneCount}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="profile_main small-8 small-offset-2 columns">

        <div class="profile_main_row row">
          <div class="profile_label small-6 columns">
            <h2  >Username</h2>

          </div>
          <div class="profile_input small-6 columns">
            <p contenteditable='true' class='userName'>{{username}}<a href="">edit username</a></p>
          </div>
        </div>
        <div class="profile_main_row row">
          <div class="profile_label small-6 columns">
            <h2>Password</h2>
          </div>
          <div class="profile_input small-6 columns">
            <a>change your password</a>
          </div>
        </div>
        <div class="profile_main_row row">
          <div class="profile_label small-6 columns">
            <h2>First Name</h2>
          </div>
          <div class="profile_input small-6 columns">
            <p class='firstName' contenteditable='true'>{{firstName}}</p>
          </div>
        </div>

        <div class="profile_main_row row">
          <div class="profile_label small-6 columns">
            <h2>Last Name</h2>
          </div>
          <div class="profile_input small-6 columns">
            <p class='lastName' contenteditable='true'>{{lastName}}</p>
          </div>
        </div>
        <div class="profile_main_row row">
          <div class="profile_label small-6 columns">
            <h2>Email</h2>
          </div>
          <div class="profile_input small-6 columns">
            <p class='email' contenteditable='true'>{{email}}</p>
          </div>
        </div>
      </div>
    </div>


</template>